requests>=2.32,<3
httpx>=0.28,<1
python-dotenv>=1.1,<2
pydantic>=2.11,<3
ipython>=9,<10
pytest>=8.4,<9
sqlalchemy>=2.0,<3
alembic>=1.16,<2
psycopg[binary]>=3.2,<4
asyncpg>=0.30,<1
PyMySQL>=1.1,<2
mysql-connector-python>=9,<10
confluent-kafka>=2.11,<3
kafka-python>=2.2,<3
flask>=3.1,<4
flask-cors>=6,<7
flask-sqlalchemy>=3.1,<4
flask-migrate>=4,<5
flask-restx>=1.3,<2
gunicorn>=23,<24
uvicorn>=0.35,<1
fastmcp>=3.1,<4
